@model System.Collections.Generic.List<Notes.Data.Models.Note>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Notes</title>
</head>
<body>
    <div>
        @foreach (var note in Model)
        {
            <span>@note.Id</span>
            <span>@note.Head</span>
            <span>@note.Body</span>
            <hr/>
            <br/><br/>
        }
    </div>
</body>
</html>